body {
  overflow-x: hidden;
}
.textFont {
  font-family: 'Open Sans', sans-serif;
}
.headingFont {
  font-family: "Teko", sans-serif;
}
.login {
  background-image: url("./assets/whitebg.webp");
}
.eventCard {
  background-image: url("./assets/whitebg.webp");
  background-size: contain;
}
.events {
  background-image: url("https://res.cloudinary.com/dvl38skbc/image/upload/v1691741834/uniplug/danny-howe-bn-D2bCvpik-unsplash_an7sac.webp");
  background-size: contain;
}
.input {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input::placeholder {
  color: #000000;
}

.input:focus {
  border: 1px solid #00cc00;
}
@keyframes zoom-in-fade {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s ease-in-out;
  /* z-index: 200000000000000000000; */
}
.welcomeshow {
  filter: blur(0);
  transition: all 1s ease-in-out;
}
.welcome {
  transition: all 1s;
  filter: blur(5px);
}
.no {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%);
}
.overlay-Dark {
  background-color: #000009;
  opacity: 0.5;
}
.navbar {
  /* background-color: transparent; */
  box-shadow: 0px 0px 7px black;
}
.nav {
  z-index: 2;
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.head {
  opacity: 0;
  transition: all 1s ease-in-out;
  filter: blur(5px);
  transform: scale(0);
}
.showhead {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
  transition: all 1.5s ease-in-out;
}

.text {
  opacity: 0;
  transition: all 1s ease-in-out;
  filter: blur(5px);
  transform: translateY(100px);
}
.showtext {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s ease-in-out;
}
